/* body{
    background-color: black;

}
@media  (max-width:600px){
    body{
        background-color: tomato;
    }
}
@media (min-width:601px) and (max-width:800px) 
{
    body{
        background-color: rgb(241, 0, 0);
    }
} */
 .parent{
    display: flex;
    gap:10px;
    justify-content: center;
 }
 .item{
    background: red;
    color: #eee;
    height: 200px;
    width: 150px;
 }
 @media (max-width:600px){
    .parent{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
 }
 @media (min-width:601) and (max-width:992px){
    .parent{
        flex-wrap: wrap;
    }
    .item{
        width: 49%;
    }
 }