.parent{
    background-color: brown;
    
}
.red
{
    background-color: red;
    width: 50px;
    height: 50px;
}
.green
{
    background-color: rgb(12, 228, 41);
    width: 50px;
    height: 50px;
}
.blue
{
    background-color: rgb(8, 12, 241);
    width: 50px;
    height: 50px;  
}
.float{
    float: right;
}
.clear{
    clear: both;
}
hr{
    height: 10px;  
    background-color: black;
}
.text{
    width: 250px;
    height: 50px;
    background-color: yellow;
    border: dotted black;
    /* overflow: visible ; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    padding: 5px;
}
ol,ul{
    /* list-style: none; */
    /* list-style-type: disc; */
    /* list-style-position: outside; */
    /* list-style-position: inside; */
    /* list-style-image: url(images.jpg); */
}
li{
    background: gold;
}
th{
    background-color: aquamarine;
    height: 40px;
    border: 10px solid gray;
}
td{
    background-color: rgb(166, 166, 202);
    height: 30px;
    text-align: center;
    vertical-align: bottom;
    border: 4px solid;
    border-color: rgb(160, 139, 139);
}

table{
    width: 100%;
    
    /* border-spacing: 0; */
}