*{
    box-sizing: border-box;
}
.parent{
    margin: 20px auto;
  
    height: 500px;
    background-color: #eee;
    display: grid;
   grid-template-columns:  repeat(auto-fill,minmax(200px,1fr));
}
div{
    background-color: red;
    color: #eee;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    text-align: center;

}