div {
    background-color:darkcyan;
  /*  background-color: rgb(50, 50, 50/50%);
    background-image: url(../../tasksZero/صورتي.jpeg);
    background-repeat:no-repeat ;
    /*background-attachment: fixed;
    /*background-position:right bottom;
    background-size: 10 10;*/
   /* padding: 10px 20px;
    margin: 20px;
    border-width: 30px;
    border-color: red;
    border-style: solid;*/
    

}