/* body{
    height: 200px;
    background-color: rgb(82, 168, 168);
     background-image: url(sss.jpg);
    background-repeat:no-repeat;
    background-repeat: repeat-x;
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-attachment: scroll;
    background-attachment:local;


}
div{
    height: 600px; 
    border: 4px dotted rgb(216, 229, 233) ;
    padding: 10px;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size:contain;
    background-origin:border-box ;
    background: red url(images.jpg) no-repeat center padding-box border-box ;
    background-size: cover;
    background-color: rgb(82, 168, 168);
     background-image: url(solid.png);
    background-repeat:repeat; 
    background-repeat: repeat-x;
    background-repeat:repeat-y;

}  */
  div
    {
        height: 200px ;
       /* background-image: linear-gradient(to bottom ,#228c22 ,transparent); */
        background-image: radial-gradient(circle,#228c22, black);
    }